h1 {
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
}

body {
  background: #f0f0f0; 
}

#todo-list {
  max-width: 600px; 
  margin: 60px auto;
}

form, .todo {
  border: 2px solid rgb(15, 26, 61); 
  padding: 12px 20px; 
  margin-bottom: 20px; 
}

form {
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-between;
  margin-bottom: 40px; 
}

form input {
  padding: 8px 12px; 
  flex-grow: 1;
  margin-right: 20px; 
}

.todo {
  display: flex;
  flex-direction: column;
}

button {
  font-size: 18px; 
  background-color: rgb(62, 138, 151);
  color: #fff;
  border-radius: 10px; 
  border: none;
  padding: 10px 20px; 
  cursor: pointer;
}

button:hover {
  background-color: rgb(173, 47, 28);
}

button:active {
  background-color: rgb(130,35,21);
}

button:focus {
  outline: none; 
}

input[type='text'] { 
  font-size: 20px; 
  font-family: Arial, sans-serif; 
}

.todo input[type="checkbox"] {
  transform: scale(1.6) translateY(1px); 
  margin-right: 12px; 
  cursor: pointer;
}

.todo-text input {
  padding: 6px; 
}

.todo-text {
  font-size: 22px;
  line-height: 28px; 
  margin-bottom: 20px; 
  align-self: center;
}

.todo-completed {
  display: flex;
  margin: 15px 0; 
}

.todo-actions {
  display: flex;
  justify-content: space-between;
}

#completed {
  margin-left: 20px; 
}
